@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables.module.scss';

html, body {
  height: 100%;
}
body {
  font-size: font-size($span);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
nav {
  background-color: $primary;
  padding-top: space-size(40);
  padding-left: space-size(40);
  display: grid;
  gap: space-size(40);
  grid-auto-rows: minmax(min-content, max-content);
  box-sizing: border-box;
  a {
    font-size: font-size($h6);
    line-height: 2.4;
    &.active {
      @apply font-bold;
      border-right: space-size(10) solid $white;
    }
  }
}
#root {
  height: inherit;
}
nav,
#landing {
  a {
    color: $white;
  }
}
#body,
#landing {
  .wrapper {
    @apply grid grid-flow-col;
    height: inherit;
  }
}
#body {
  background-color: $light;
  .wrapper {
    grid-template-columns: 0.3fr 0.9fr;
  }
}
#landing {
  color: $white;
  background-color: $primary;
  .wrapper {
    grid-auto-columns: 0.9fr 0.3fr;
    gap: space-size(20);
    &__left,
    &__right {
      padding-top: space-size(40);
    }
    &__left {
      padding-left: space-size(40);
      display: grid;
      grid-template-columns: repeat(4, 0.25fr);
      grid-template-rows: minmax(min-content, max-content);
      grid-auto-flow: column;
      gap: space-size(40);
    }
    &__right {
      color: $dark;
      background-color: $white;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding-right: 33.333%;
      box-sizing: border-box;
      display: grid;
      grid-auto-flow: column;
    }
  }
  .keyvisual {
    @apply w-1/3 text-right absolute;
    font-size: font-size(80);
    color: $dark;
    right: 8%;
    bottom: space-size(40);
    display: grid;
    justify-content: flex-end;
    &__photo {
      @apply w-full relative;
      max-width: 50vh;
      max-height: 100%;
      z-index: 1;
      justify-self: flex-end;
      &:after {
        @apply absolute right-0 bottom-0 block;
        width: inherit;
        height: calc(100% - space-size(30));
        border: space-size(10) solid $primary;
        content: '';
      }
      img {
        @extend .keyvisual__photo;
        margin-left: space-size(20) * -1;
        margin-bottom: space-size(20);
      }
    }
  }
}
.grid-list {
  @apply grid;
  width: inherit;
  padding: space-size(40);
  box-sizing: border-box;
  column-gap: space-size(20);
  row-gap: space-size(40);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: minmax(min-content, max-content);
}
.half-section {
  @apply h-screen grid grid-flow-col overflow-hidden;
  padding: space-size(40);
  box-sizing: border-box;
  gap: space-size(40);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  &__sub {
    @apply grid;
    padding: space-size(0);
    gap: space-size(20);
  }
  &__left {
    @apply h-full grid content-start overflow-y-scroll;
    width: inherit;
    gap: space-size(20);
    img {
      @apply w-full;
    }
  }
  &__right {
    @apply grid justify-between overflow-y-scroll;
    gap: space-size(20);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    .top {
      border-bottom: space-size(3) solid $primary;
    }
  }

}
.link-card {
  h6 {
    font-size: font-size($h6);
  }
  p, li {
    font-size: font-size($p);
  }
  ul {
    @apply list-disc list-inside;
    ul li {
      @apply list-inside;
      list-style-type: circle;
      margin-left: space-size(20);
    }
  }
}
.card {
  width: inherit;
  height: inherit;
  &:hover {
    box-shadow: 0 space-size(5) $primary;
  }
  a {
    @apply font-bold block;
    color: $dark;
    font-size: font-size(20);
    line-height: 2;
  }
  img {
    width: 100%;
  }
}
.tabs {
  @apply inline-grid grid-flow-col;
  font-size: $p;
  gap: space-size(20);
  li {
    @apply cursor-pointer;
    &.is-active {
      @apply font-bold;
      box-shadow: 0 space-size(3) $primary;
    }
  }
}
.info-box {
  @apply inline-grid;
  margin-top: space-size(20);
  gap: space-size(20);
}