$primary: #40C297;
$dark: #222;
$light: #f6f6f6;
$white: #fff;

$xxl: 80;
$h6: 20;
$p: 18;
$span: 15;

// base on width: 1440
$vw-context: 1440;
$fontDefaultsize: 12;

@function space-size($size, $vw: $vw-context) {
  $number: calc(($size / $vw) * 10000);
  @if ($number < 1) { 
    $number: $number - 1; 
  } @else { 
    $number: $number + 1; 
  } 

  @return calc(round($number) / 100) * 1vw;
}
@function font-size($size, $vw: $vw-context) {
  $number: calc(($size / $vw) * 10000);
  @if ($number < 1) { 
    $number: $number - 1; 
  } @else { 
    $number: $number + 1; 
  } 

  @return calc(round($number) / 100) * 1vw;
}

:export {
  primary: $primary;
  dark: $dark;
  light: $light;
  white: $white;
  fontH6: $h6;
  fontDefaultSize: $fontDefaultsize;
}
